@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$family-sans-serif: "Montserrat", sans-serif;

$widescreen-enabled: false;
$fullhd-enabled: false;


$box-radius: 0; 

$table-cell-border-width: 0; 

$footer-background-color: #111;
$footer-color: #888;

$link: #2b78a1;

@import "../node_modules/bulma/bulma.sass";

.main-description {
  p {
    margin-bottom: 1rem;
  }
}

.project-card {
  a {
    color: $text;
    font-weight: 700;
  }
  .image {
    margin-bottom: 1.5rem;
  }
  p {
    margin-top: .5rem;
  }
}

.category-hero {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  a {
    color: $light;
    &:hover {
      color: $white;
    }
  }
  .title {
    color: $white;
  }
}

.is-image-covered {
  background: url('/theme/img/background.jpg') center center;
  background-size: cover;
}

.breadcrumb {
  li > a {
    color: $white;
  }
  .is-active {
    color: $white;
  }
}
