@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$family-sans-serif: "Montserrat", sans-serif;

$widescreen-enabled: false;
$fullhd-enabled: false;

$box-radius: 0; 

$table-cell-border-width: 0; 

@import "../node_modules/bulma/bulma.sass";

.project-card {
  a {
    color: $text;
    font-weight: 700;
  }
  .image {
    margin-bottom: 1.5rem;
  }
  p {
    margin-top: .5rem;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $info;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.home-title {
  background: rgba(0, 0, 0, 0.2);
  max-width: 90%;
  padding: 2rem 3rem;
  position: absolute;
  right: 50%;
  text-align: center;
  top: 50%;
  transform: translate(50%,-50%);
  .title {
    color: $white;
    text-align: center;
  }
  p {
    color: $light;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .button:not(:last-child) {
    margin-right: 1.5rem;
  }
  @include mobile {
    padding: none;
    background: none;
    .button:not(:last-child) {
      margin-bottom: 1.5rem;
      margin-right: 0;
    }
  }
}

.category-hero {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  a {
    color: $light;
    &:hover {
      color: $white;
    }
  }
  .title {
    color: $white;
  }
}

.table-wrapper {
  overflow-x: auto;
}
