<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olzhas Arystanov Portfolio</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  </head>
  <body>

    <div id="particles-js"></div>

    <div class="home-title">
      <h1 class="title">Olzhas Arystanov</h1>
      <p>Software Engineer, finance professional</p>
	<a class="button is-large is-dark" href="">
	  <span>My Projects</span>
	</a>
	<a class="button is-large is-dark is-outlined" href="https://github.com/olzhasar" target="_blank">
	  <span class="icon">
	    <i class="fab fa-github"></i>
	  </span>
	  <span>GitHub</span>
	</a>
    </div>

    <script src="{{ SITE_URL }}/theme/js/particles.min.js"></script>
    <script type="text/javascript">
      particlesJS.load('particles-js', '{{ SITE_URL }}/theme/assets/particles.json', function() {
	  console.log('callback - particles.js config loaded');
      });
    </script>

  </body>
</html>
