{% extends 'layout.html' %}

{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}

{% block header %}
<section class="hero is-image-covered is-medium is-dark">
  <div class="hero-head">
    {% include "partials/navbar.html" %}
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
	Hi, I'm Olzhas Arystanov!
      </h1>
      <h2 class="subtitle">
	I make web applications and APIs, mainly with Django
      </h2>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
	<div class="main-description">
	  <p>
	    I'm a Python Software Engineer from Almaty, Kazakhstan
	  </p>
	  <p>
	    Software engineering is my second career path. I have trasferred from investments and advisory industry.
	  </p>
	  <p>
	    <strong>Django</strong> is my framework of choice for getting job done.
	    I also like FastAPI, Flask for building microservices and small projects.
	  </p>
	  <p>
	    My time zone is GMT + 06:00
	  </p>
	</div>
      </div>
      <div class="column is-4 is-offset-1">
	<h3 class="subtitle has-text-centered">My top skills:</h3>
	<div class="columns is-multiline is-vcentered">
	  <div class="column is-4">
	    <img src="/theme/img/python.png" alt="">
	  </div>
	  <div class="column is-4">
	    <img src="/theme/img/django.png" alt="">
	  </div>
	  <div class="column is-4">
	    <img src="/theme/img/drf.png" alt="">
	  </div>
	  <div class="column is-4">
	    <img src="/theme/img/celery.png" alt="">
	  </div>
	  <div class="column is-4">
	    <img src="/theme/img/postgresql.png" alt="">
	  </div>
	  <div class="column is-4">
	    <img src="/theme/img/docker.png" alt="">
	  </div>
	</div>
	<h3 class="subtitle has-text-centered">Check my:</h3>
	<div class="columns">
	  <div class="column is-6">
	    <a class="button is-small is-dark is-outlined is-fullwidth" href="{{ GITHUB_URL }}" target="_blank">
	      <span class="icon">
		<i class="fab fa-github"></i>
	      </span>
	      <span>Github</span>
	    </a>
	  </div>
	  <div class="column is-6">
	    <a class="button is-small is-dark is-outlined is-fullwidth" href="{{ STACKOVERFLOW_URL }}" target="_blank">
	      <span class="icon">
		<i class="fab fa-stack-overflow"></i>
	      </span>
	      <span>Stack Overflow</span>
	    </a>
	  </div>
	</div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
