<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olzhas Arystanov Portfolio</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  </head>
  <body>
    <section class="hero is-info is-fullheight">
      <div class="hero-head">
	<nav class="navbar">
	  <div class="container">
	    <div class="navbar-brand">
	      <a class="navbar-item" href="/">
		Olzhas Arystanov
	      </a>
	      <span class="navbar-burger burger" data-target="navbarMenuHeroB">
		<span></span>
		<span></span>
		<span></span>
	      </span>
	    </div>
	    <div id="navbarMenuHeroB" class="navbar-menu">
	      <div class="navbar-end">
		<a class="navbar-item">
		  Portfolio
		</a>
		<span class="navbar-item">
		  <a class="button is-info is-inverted" href="https://github.com/olzhasar" target="_blank">
		    <span class="icon">
		      <i class="fab fa-github"></i>
		    </span>
		    <span>Github</span>
		  </a>
		</span>
	      </div>
	    </div>
	  </div>
	</nav>
      </div>

      <div class="hero-body">
	<div class="container has-text-centered">
	  <p class="title">
	    Personal portfolio & blog
	  </p>
	  <p class="subtitle">
	    Currently under development
	  </p>
	</div>
      </div>

    </section>
  </body>
</html>
