{% extends 'base.html' %}

{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}

{% block body %}

{% block header %}
<section class="hero is-image-covered is-dark is-small">
  <div class="hero-head">
    <div class="container">
      {% include 'partials/navbar.html' %}
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
	{% block h1 %}{% endblock %}
      </h1>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    {% block inner_content %}
    {% endblock %}
  </div>
</section>
{% endblock %}

{% block footer %}
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
	This website has been created by me from scratch using <a href="https://docs.getpelican.com/en/stable/">Pelican static site generator</a> and <a href="https://bulma.io/">Bulma CSS Framework</a>. Both projects are open source and awesome, I highly recommend checking them out.
      </div>
      <div class="column is-4 is-offset-2">
	{% for contact in CONTACTS %}
	<div class="columns">
	  <div class="column is-4">
	    {{ contact.0 }}:
	  </div>
	  <div class="column is-8">
	    <a href="{{ contact.1 }}">{{ contact.2 }}</a>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
</footer>
{% endblock %}

{% endblock body %}
