<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
	<strong>
	  Olzhas Arystanov
	</strong>
      </a>
      <span class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
	<span></span>
	<span></span>
	<span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
	<a class="navbar-item" href="">About me</a>
	<a class="navbar-item" href="">Contacts</a>
	<span class="navbar-item">
	  <a class="button" href="https://github.com/olzhasar" target="_blank">
	    <span class="icon">
	      <i class="fab fa-github"></i>
	    </span>
	    <span>Check my GitHub</span>
	  </a>
	</span>
      </div>
    </div>
  </div>
</nav>
